.about-us-container {
  background-color: #1e1b1e;
  color: #ffaa0d;
  height: 100vh;
  h1 {
    color: #2291a4;
  }
  .team {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    padding: 0px 20px;
    img {
      border-radius: 50%;
      width: 125px;
    }

    .team-member {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 25px;
      width: 25%;
    }

    .icons {
      display: flex;
      flex-direction: row;

      a {
        margin: 5px;
        color: #2291a4;
      }
    }
  }
}
