.home-page {
    background-color: #1e1b1e;
    height: 100vh;
        .fixtures{
        height: 100px;
    }

    .select-container {
        display: flex;
        justify-content: space-around;
    }
}
