.setup_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 15px;
  z-index: 1;
  border: 3px solid #ffaa0d;
  img{
    margin-top: 5px;
    width: 150px;
    height: 150px;
  }
  :hover{
    transform: scale(1.01);
  }
  input{
    margin-bottom: 5px
  }
}
.card_div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  height: calc(100vh - 204px);
  margin-top: 10px;
}
.stepper {
  padding: 5px 10px;
  z-index: 1;
  background-color: #1e1b1e;
  .step .Mui-disabled span {
    color: #ffaa0d60;
  }
  .step .Mui-disabled .MuiSvgIcon-root {
    color: #ffaa0d60;
  }
  .step span {
    color: #ffaa0d;
  }
  .step .MuiSvgIcon-root {
    color: #ffaa0d;
  }
  .step .MuiStepIcon-text {
    fill:#1e1b1e
  }
  .Mui-disabled.MuiStepConnector-root span {
    border-color: #ffaa0d60;
  }
  .MuiStepConnector-root span {
    border-color: #ffaa0d;
  }
}
.card_container {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 14px;
  border: 1px solid #ffaa0d;
  border-radius: 10px;
  background-color: #1e1b1e;
  margin: 0px 10px;
  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.button-container {
  background-color: #1e1b1e;
  justify-content: center;
  button{
    margin: 0px 50px;
  }
  .back-button.Mui-disabled, .next-button.Mui-disabled{
    color: #ffaa0d60;
  }
  .next-button, .back-button{
    color:#ffaa0d;
  }
}

.profile_setup {
  background-color: #1e1b1e;
}